.sidebar-container {
  width: 25%;
  height: 100vh;
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 0 10px 10px 0;
  animation: slide-in 0.5s ease-in-out;
}

.sidebar-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: var(--foreground);
}

.chats-container{
    margin-top: 20px;
    height: 85vh;
    overflow-y: scroll;
}

.chats-groups{
    font-size: 18px;
    font-weight: 600;
}

.chats-titles{
    padding: 6px;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    cursor: pointer;
    background-color: var(--title-bg);
    border-radius: 8px;
    &.active{
        background-color: var(--title-active-bg);
    }
}

.logout-container{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 900px) {
  .sidebar-container{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 350px;
    width: 25vw;
    z-index: 999;
  }
}

@media (max-width: 300px) {
  .sidebar-container{
    min-width: 250px;
    width: 250px;
  }
}